{% extends "base.html" %}
{% block title %}Lançar Produção{% endblock %}
{% block page_title %}Lançar Ficha de Produção{% endblock %}
{% set back_url = '/dashboard' %}


{% block content %}
<div class="flex justify-center mt-10">
  <form action="/lancar" method="post"
        class="bg-white p-8 rounded-2xl shadow-lg w-full max-w-md">

    <h2 class="text-2xl font-semibold text-gray-700 text-center mb-6">
      Registrar Produção
    </h2>

    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700">Operador:</label>
<select name="usuario_id" required
        class="w-full border border-gray-300 rounded px-3 py-2">
  <option value="">Operador</option>
  {% for op in operadores %}
    <option value="{{ op.id }}">{{ op.nome }}</option>
  {% endfor %}
    
</select>


    </div>

    <div class="mb-4">
      <label for="modelo" class="block text-sm font-medium mb-1 text-gray-700">Modelo:</label>
<select name="formulario_id" required
        class="w-full border rounded px-3 py-2">
  <option value="">Selecione o modelo</option>
  {% for m in modelos %}
    <option value="{{ m.id }}">{{ m.nome_modelo }}</option>
  {% endfor %}
</select>

    </div>

    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-600 mb-1">
  Função
</label>

<select name="funcao_id" required
  class="w-full border rounded-lg px-3 py-2 focus:ring focus:ring-blue-200">
  <option value="">Selecione a função</option>

  {% for f in funcoes %}
    <option value="{{ f.id }}">{{ f.nome }}</option>
  {% endfor %}
</select>


    </div>

    <div class="grid grid-cols-2 gap-4 mb-4">
      <div>
        <label class="block text-gray-700 font-medium mb-1">Quantidade por Ficha:</label>
        <input type="number" name="quantidade" min="50" value="50"
               class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500">
      </div>
      <div>
        <label class="block text-gray-700 font-medium mb-1">Qtd. de Fichas:</label>
        <input type="number" name="qtd_fichas" min="1" value="1"
               class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500">
      </div>
    </div>

    <div class="mb-6">
      <label class="block text-gray-700 font-medium mb-1">Número Inicial:</label>
      <input type="number" name="numero_inicial" 
             class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500">
    </div>

    <button type="submit"
            class="w-full bg-blue-700 text-white py-2 rounded-lg font-semibold hover:bg-blue-800 transition">
      💾 Lançar Produção
    </button>
  </form>
</div>


{% endblock %}